[MASTER]
# A comma-separated list of package or module names from where C extensions may be loaded. 
# Extensions are loaded when the first module from the package is imported.
extension-pkg-allow-list=pyodbc